/*comentario @Sergio10G */




        /* Cargar las variables */
        
:root {
    /*--name = value;*/
    --color-oscuro: blue;
}

section {
    display: block;
}

logo {
    text-align: center;
    color: var(--color-oscuro);
}

h1, h2, h3{
    text-align: center;
}

