/*comentario @Sergio10G */




        /* Cargar las variables */
        
:root {
    /*--name = value;*/
    --color-oscuro: blue;
}

.logo {
    text-align: center;
    color: var(--color-oscuro);
}



